{# Extends the base template #}
{% extends "base.html" %}

{# Load internationalization tags for translations #}
{% load i18n %}

{# Set the page title #}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{# Main content block #}
{% block content %}
    {# Semi-transparent overlay #}
    <div class="overlay"></div>
    <div class="container">
        {# Centered content with responsive layout #}
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                {# Sign out form container #}
                <div class="allauth-form-inner-content text-center">
                    <h2 class="logo-font mb-4">{% trans "Sign out" %}</h2>
                    <p>{% trans 'Are you sure you want to sign out?' %}</p>
                    {# Sign out form with CSRF protection #}
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {# Handle redirect after logout if specified #}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="btn btn-black rounded-0" type="submit">{% trans 'Sign out' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
