{% extends "allauth/account/auth_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card border-0 shadow-sm">
                    <div class="card-body p-4">
                        <h1 class="h3 mb-4 text-center">{% trans "Change Password" %}</h1>
                        
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {{ form|crispy }}
                            
                            <div class="d-grid gap-2 mt-4">
                                <button class="btn btn-primary" type="submit">{% trans "Change Password" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="text-center mt-3">
                    <a href="{% url 'profile' %}" class="text-decoration-none">
                        <i class="fas fa-arrow-left me-2"></i>Back to Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
