{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="allauth-form-inner-content">
                <h2 class="logo-font mb-4 text-center">{% trans "Password reset" %}</h2>
                
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="text-muted text-center mb-4">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Please correct the following errors:</strong>
                            {{ form.errors }}
                        </div>
                    {% endif %}

                    <div class="form-group w-75 mx-auto">
                        <input type="email" name="email" class="form-control mb-3" placeholder="Email address" id="id_email" required>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-black rounded-0" type="submit">{% trans "Reset my password" %}</button>
                        <p class="mt-4 text-muted">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
