{# Extends the authentication base template #}
{% extends "allauth/account/auth_base.html" %}

{# Load internationalization tags #}
{% load i18n %}

{# Set the page title #}
{% block head_title %}{% trans "Change password" %}{% endblock %}

{# Main content block for authentication #}
{% block auth_content %}
    {# Authentication form container #}
    <div class="auth-form">
        <h1>{% trans "Change password" %}</h1>
        
        {# Success message alert #}
        <div class="alert alert-success mb-4">
            {% trans 'Your password is now changed.' %}
        </div>

        {# Back to login button #}
        <div class="text-center">
            <a href="{% url 'account_login' %}" class="btn btn-outline-primary">Back to Login</a>
        </div>
    </div>
{% endblock %}
